name: Deploy to GCP
on:
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/YOUR_PROJECT_NUMBER/locations/global/workloadIdentityPools/YOUR_POOL_NAME/providers/YOUR_PROVIDER_NAME'
          service_account: 'github-action-1160151722@psgnew-52ee3.iam.gserviceaccount.com'
      
      - uses: google-github-actions/setup-gcloud@v2
      
      - run: gcloud services list
